.button {
  
  border-radius: 20px; 
  border: 5px solid #92ED69;
  
  width: 148px;
  height: 39px;
  
  font-size: 20px;
  font-weight: 800;
  flex-shrink: 0;
  cursor: pointer;

  background-color: transparent; 
  color: #92ED66;

  transition: background-color 0.3s ease, color 0.3s ease;
}


.button:hover {
  background-color: #92ED69; 
  color: #FFFFFF;            
}