.button {
    border-radius: 10px;
    color: #92ED69;
    border-radius: 20px;
    border: 5px solid #92ED69;
    text-align: center;
    width: 148px;
    height: 39px;
    flex-shrink: 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 800;
}