@import "tailwindcss";

html, body, #root {
        height: 100%;
}

.login-bg {
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-card {
    width: 340px;
    height: auto;
    padding: 1.25rem;
    flex-shrink: 0;
    border-radius: 24px;
    background: rgba(11, 41, 60, 0.80);
    box-shadow: 0 4px 100px 1px rgba(146, 237, 105, 0.20) inset;
}

.login-card .muted {
    color: #d1d5db;
}

.login-card .link-register {
    color: #ffffff;
    font-weight: 600;
    text-decoration: underline;
}